<script src="./js/main.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
    AOS.init();
</script>
<!-- BULLSHIT Test burglar -->
<script src="js/menu/anime.min.js"></script>
<script src="js/menu/main.js"></script>
<script src="js/kp.js"></script>
<!-- BULLSHIT Test burglar -->
</body>

<footer>
    <div class="container w-100 center mt7 mb4 flex justify-center">
        <div class="w-100 mw9 sans-serif f6 dark-gray justify-center flex flex-row">
            <p>Pixels and markup lovingly assembled by Katy Prendergast &copy; 2020</p>
        </div>
    </div>
</footer>

</html>