<script src="https://code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/js/vendor/vendors.js"></script>
<script>
    AOS.init();
</script>
</body>

<footer>
    <div class="container w-100 center mt7 mb4 flex justify-center">
        <div class="w-100 mw9 sans-serif f6 dark-gray justify-center flex flex-row">
            <p>Pixels and markup lovingly assembled by Katy Prendergast &copy; 2020</p>
        </div>
    </div>
</footer>

</html>