@import "reset/reset";
@import "tachyons/tachyons";
@import "partials/fonts";

html {
  min-height: 100%;
}

body {
}

img {
  max-width: 100%;
}

button.cta {
  padding: 9% 15%;
  font-family: tt norms pro;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
}

.main-bg-image {
  background-image: url("../img/bg.jpg");
  background-size: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 1152px;
}

// h1,
// h2,
// h3,
// h4 {
//   font-family: Plantin MT Pro;
//   font-weight: 200;
//   color: #00162e;
// }

.btn.btn--menu {
  font-size: 1.4rem;
  color: #00162e;
}

h1 {
  letter-spacing: 0.04rem;
}

// h2 {
//   font-size: 20px;
//   line-height: 28px;
//   letter-spacing: 0.02rem;
// }

// h3 {
//   font-size: 16px;
//   line-height: 20px;
// }

// h4 {
//   font-size: 14px;
//   line-height: 18px;
//   text-transform: uppercase;
// }

.quoteText {
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
}

p {
  font-family: tt norms pro;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

small {
  font-family: tt norms pro;
  line-height: 18px;
  font-size: 14px;
  font-weight: 400;
}

ol.number {
  li {
    span {
      display: inline;
      border: 1px solid black;
      border-radius: 50%;
      padding: 10px 12px 7px 12px;
    }
  }
}

.browser {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  display: inline-block;
}

// Custom Media Query Variables

$breakpoint-not-small: "screen and (min-width: 30em)" !default;
$breakpoint-medium: "screen and (min-width: 30em) and (max-width: 60em)" !default;
$breakpoint-large: "screen and (min-width: 60em)" !default;
